<div
  [class.surface]="!selected"
  [class.on-surface-text]="!selected"
  [class.secondary-container]="selected"
  [class.on-secondary-container-text]="selected"
  class="container"
  (click)="clicked($event)"
>
  <div class="header">
    <live-icon [icon]="icon" [loading]="loading" class="icon"></live-icon>
    <div class="text">
      <div class="headline-small">{{ title }}</div>
      <div class="subhead label-small" *ngIf="subhead && subhead !== ''">
        {{ subhead }}
      </div>
    </div>
  </div>
  <div class="content">
    <ng-container *ngFor="let item of items">
      <div
        class="item"
        *ngIf="item.visible === undefined || item.visible === true"
        [class.surface-container-low]="!selected && item.color === 'default'"
        [class.on-surface-container-low-text]="
          !selected && item.color === 'default'
        "
        [class.secondary-container]="selected && item.color === 'default'"
        [class.on-secondary-container-text]="
          selected && item.color === 'default'
        "
        [class.error-container]="!selected && item.color === 'error'"
        [class.on-error-container-text]="!selected && item.color === 'error'"
        [class.primary-container]="selected && item.color === 'error'"
        [class.on-primary-container-text]="selected && item.color === 'error'"
        [class.tertiary-fixed]="item.color === 'success'"
        [class.on-tertiary-fixed-text]="item.color === 'success'"
      >
        <div class="value">{{ item.value }}</div>
        <div class="label body-medium">{{ item.label }}</div>
      </div>
    </ng-container>
    <div class="action" *ngIf="action && action !== ''">
      <md-text-button (click)="actionClick($event)">{{
        action
      }}</md-text-button>
    </div>
  </div>
</div>
