<div class="container">
  <div class="actions">
    <md-text-button>Novo</md-text-button>
    <open-file></open-file>
    <md-text-button (click)="download()" [disabled]="code == ''"
      >Salvar</md-text-button
    >
    <div class="flex-spacer"></div>
    <md-filled-tonal-button
      (click)="compile()"
      (document:keydown.control.enter)="compile()"
      [disabled]="code == ''"
      >Compilar
      <span style="font-size: 12px; opacity: 0.7"
        >ctrl + enter</span
      ></md-filled-tonal-button
    >
  </div>
  <ngx-monaco-editor
    [options]="editorOptions"
    [(ngModel)]="code"
    (onInit)="initMonacoEditor($event)"
  ></ngx-monaco-editor>
  <div class="tabs">
    <md-tabs aria-label="Content to view" (change)="tabChange($event)">
      <md-secondary-tab id="tab-1" aria-controls="panel-1">
        Console
      </md-secondary-tab>
      <md-secondary-tab id="tab-2" aria-controls="panel-2">
        Erros
      </md-secondary-tab>
      <md-secondary-tab id="tab-3" active aria-controls="panel-3">
        Logs
      </md-secondary-tab>
    </md-tabs>

    <div
      #panel1Element
      id="panel-1"
      role="tabpanel"
      class="panel"
      aria-labelledby="tab-1"
      hidden
    >
      <app-console></app-console>
    </div>
    <div
      #panel2Element
      id="panel-2"
      role="tabpanel"
      class="panel"
      aria-labelledby="tab-2"
      hidden
    >
      <error-display></error-display>
    </div>
    <div
      #panel3Element
      id="panel-3"
      role="tabpanel"
      class="panel"
      aria-labelledby="tab-3"
    >
      <logger-display></logger-display>
    </div>
  </div>
</div>
