:host {
  height: 100%;
  display: block;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  ngx-monaco-editor {
    flex-grow: 1;
  }

  .tabs {
    height: 300px;
    display: flex;
    flex-direction: column;

    md-tabs md-secondary-tab {
      --md-secondary-tab-label-text-font: var(--md-sys-typescale-title-large-font-family-name);
    }

    .panel {
      height: 100%;
    }
  }
}
