.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 8px;

  div:first-of-type {
    display: flex;
    gap: 8px;
  }

  md-icon-button {
    --md-icon-button-icon-color: var(--md-sys-color-secondary);
  }
}

.fullscreen {
  &.fullscreen--full {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
