<div class="fullscreen surface" [class.fullscreen--full]="fullscreen">
  <div class="actions">
    <div>
      <md-text-button (click)="stepByStep()">Ver passo-a-passo</md-text-button>
      <md-filled-tonal-button
        (click)="next()"
        [disabled]="
          syntacticAnalysisService.autoMode ||
          syntacticAnalysisService.started !== true
        "
        >Próximo passo</md-filled-tonal-button
      >
    </div>
    <md-icon-button
      class="fullscreen-button"
      (document:keydown.escape)="fullscreen = false"
      (document:keydown.alt.enter)="fullscreen = !fullscreen"
      (click)="fullscreen = !fullscreen"
    >
      <md-icon *ngIf="!fullscreen">fullscreen</md-icon>
      <md-icon *ngIf="fullscreen">close_fullscreen</md-icon>
    </md-icon-button>
  </div>
  {{ syntacticAnalysisService.started }}
  <ngx-graph
    class="chart-container"
    [showMiniMap]="true"
    [links]="syntacticAnalysisService.syntacticTree.links"
    [nodes]="syntacticAnalysisService.syntacticTree.nodes"
    [draggingEnabled]="false"
    [layoutSettings]="{ orientation: 'TB' }"
  >
    <ng-template #nodeTemplate let-node>
      <svg:g class="node">
        <svg:rect
          [attr.width]="node.dimension.width"
          [attr.height]="node.dimension.height"
          [attr.fill]="node.data.color"
        />
        <svg:text
          alignment-baseline="central"
          [attr.x]="10"
          [attr.y]="node.dimension.height / 2"
        >
          {{ node.label }}
        </svg:text>
      </svg:g>
    </ng-template>

    <ng-template #linkTemplate let-link>
      <svg:g class="edge">
        <svg:path
          class="line"
          stroke-width="2"
          marker-end="url(#arrow)"
        ></svg:path>
        <svg:text class="edge-label" text-anchor="middle">
          <textPath
            class="text-path"
            [attr.href]="'#' + link.id"
            [style.dominant-baseline]="link.dominantBaseline"
            startOffset="50%"
          >
            {{ link.label }}
          </textPath>
        </svg:text>
      </svg:g>
    </ng-template>
  </ngx-graph>
</div>
