<div
  class="flex flex--column fullscreen surface"
  [class.fullscreen--full]="fullscreen"
>
  <div class="actions">
    <md-icon-button
      class="fullscreen-button"
      (document:keydown.escape)="toggleFullscreen(false)"
      (document:keydown.alt.enter)="toggleFullscreen()"
      (click)="toggleFullscreen()"
      title="Tela cheia"
    >
      <md-icon *ngIf="!fullscreen">fullscreen</md-icon>
      <md-icon *ngIf="fullscreen">close_fullscreen</md-icon>
    </md-icon-button>
  </div>
  <div class="token-list surface-container-low round-corners">
    <h2 class="label-large">Tokens</h2>
    <ng-scrollbar
      #scrollbarTokensComponent
      visibility="hover"
      appearance="compact"
      orientation="horizontal"
    >
      <div class="tokens">
        <div
          class="token bordered title-medium bold on-surface-text"
          [class.tertiary-fixed]="
            i === 0 &&
            (token.lexema ===
              syntacticAnalysisService.stack[
                syntacticAnalysisService.stack.length - 1
              ].value ||
              (syntacticAnalysisService.stack[
                syntacticAnalysisService.stack.length - 1
              ].value === '<identificador>' &&
                token.token === 'identificador-válido') ||
              (syntacticAnalysisService.stack[
                syntacticAnalysisService.stack.length - 1
              ].value === '<número>' &&
                ['número-natural', 'número-real'].includes(token.token)))
          "
          *ngFor="let token of syntacticAnalysisService.input; let i = index"
        >
          {{ token.lexema }}
        </div>
      </div>
    </ng-scrollbar>
  </div>
  <div class="flex-row">
    <div class="stack surface-container-low round-corners">
      <ng-scrollbar
        #scrollbarStackComponent
        visibility="hover"
        appearance="compact"
      >
        <div class="stack-container">
          <div
            [class]="
              'token ' +
              ((stackItem.value | isTerminal)
                ? 'bordered title-medium bold on-surface-text'
                : 'secondary-container on-secondary-container-text')
            "
            [class.tertiary-fixed]="
              i === syntacticAnalysisService.stack.length - 1 &&
              (syntacticAnalysisService.input[0].lexema === stackItem.value ||
                (stackItem.value === '<identificador>' &&
                  syntacticAnalysisService.input[0].token ===
                    'identificador-válido') ||
                (stackItem.value === '<número>' &&
                  ['número-natural', 'número-real'].includes(
                    syntacticAnalysisService.input[0].token
                  )))
            "
            *ngFor="
              let stackItem of syntacticAnalysisService.stack;
              let i = index
            "
          >
            {{ stackItem.value }}
          </div>
        </div>
      </ng-scrollbar>
      <!-- esse H2 está no final para poupar minha cabeça de lidar com column-reverse de novo -->
      <h2 class="label-large">Pilha de símbolos</h2>
    </div>
    <div
      class="control-panel flex flex--column surface-container round-corners"
    >
      <div class="actions">
        <md-text-button
          (click)="stopStepByStep()"
          *ngIf="syntacticAnalysisService.started"
          >Concluir</md-text-button
        >
        <md-filled-tonal-button
          (click)="next()"
          *ngIf="
            !syntacticAnalysisService.autoMode &&
            syntacticAnalysisService.started
          "
          >Próximo passo</md-filled-tonal-button
        >
        <md-filled-tonal-button
          (click)="stepByStep()"
          *ngIf="
            !syntacticAnalysisService.started &&
            syntacticAnalysisService.input.length > 0
          "
          >Iniciar</md-filled-tonal-button
        >
        <div
          *ngIf="
            !syntacticAnalysisService.started &&
            syntacticAnalysisService.input.length === 0
          "
        >
          Compile o código antes de usar essa tela!
        </div>
      </div>
      <ng-scrollbar
        #scrollbarLogsComponent
        visibility="hover"
        appearance="compact"
        class="scrollable"
        cdkVirtualScrollingElement
      >
        <cdk-virtual-scroll-viewport
          #virtualViewport
          id="virtual-scroll"
          itemSize="50"
          class="logs"
        >
          <log-item
            customBackgroundColor="var(--md-sys-color-surface-container)"
            *cdkVirtualFor="let log of logs"
            [log]="log"
          ></log-item>
        </cdk-virtual-scroll-viewport>
      </ng-scrollbar>
    </div>
  </div>
</div>
