<div class="tabs">
  <md-tabs aria-label="Content to view" (change)="tabChange($event)">
    <md-primary-tab id="tab-1" active aria-controls="panel-1">
      Gramática
    </md-primary-tab>
    <md-primary-tab id="tab-2" aria-controls="panel-2">
      Firsts & Follows
    </md-primary-tab>
    <md-primary-tab id="tab-4" aria-controls="panel-4">
      Tabela Sintática
    </md-primary-tab>
  </md-tabs>
</div>

<div
  #panel1Element
  id="panel-1"
  (document:keydown.control.f)="$event.preventDefault(); search.focus()"
  role="tabpanel"
  class="panel"
  aria-labelledby="tab-1"
>
  <div class="tab-content">
    <div class="actions">
      <md-filled-text-field
        (keyup)="searchNext($event)"
        class="search"
        #search
        placeholder="Procurar símbolo"
        [supportingText]="
          totalFound > 0 ? focused + 1 + '/' + totalFound : '&nbsp;'
        "
      >
        <md-icon slot="leading-icon">search</md-icon>
        <md-icon-button
          (document:keydown.escape)="resetSearch()"
          (click)="resetSearch()"
          slot="trailing-icon"
          *ngIf="search.value != ''"
        >
          <md-icon>close</md-icon>
        </md-icon-button>
      </md-filled-text-field>
    </div>
    <ng-scrollbar
      #scrollbarComponent
      visibility="hover"
      appearance="compact"
      class="scrollable"
    >
      <div class="content" #content>
        <div
          class="production"
          *ngFor="let production of grammar.productions; let i = index"
        >
          <div
            [class.found]="
              search.value && production.leftSide.includes(search.value)
            "
            [class.hovered]="toBeHighlighted === production.leftSide"
            class="symbol label-large secondary-container on-secondary-container-text"
            (mouseenter)="mouseEnter(production.leftSide)"
            (mouseleave)="mouseLeave()"
            (click)="selectSymbol(production.leftSide)"
          >
            {{ production.leftSide }}
          </div>
          <md-icon class="arrow secondary-text">arrow_forward</md-icon>
          <div class="derivations">
            <div
              class="derivation"
              *ngFor="let derivation of production.rightSide; let i = index"
            >
              <div *ngIf="i > 0" class="vertical-divider"></div>
              <div
                *ngFor="let part of derivation"
                [class.hidden]="part[0] === '[' && part[1] === '['"
                [class.secondary-container]="
                  part[0] === '<' &&
                  part[1] &&
                  part[1] !== '>' &&
                  part[1] !== '='
                "
                [class.on-secondary-container-text]="
                  part[0] === '<' &&
                  part[1] &&
                  part[1] !== '>' &&
                  part[1] !== '='
                "
                [class.label-large]="
                  part[0] === '<' &&
                  part[1] &&
                  part[1] !== '>' &&
                  part[1] !== '='
                "
                [class.title-medium]="
                  part[0] !== '<' ||
                  part === '<>' ||
                  part === '<=' ||
                  part === '<'
                "
                [class.on-surface-text]="
                  part[0] !== '<' ||
                  part === '<>' ||
                  part === '<=' ||
                  part === '<'
                "
                [class.bold]="
                  part[0] !== '<' ||
                  part === '<>' ||
                  part === '<=' ||
                  part === '<'
                "
                [class.epsilon]="part[0] === 'ε'"
                (mouseenter)="mouseEnter(part)"
                (mouseleave)="mouseLeave()"
                (click)="selectSymbol(part)"
                class="symbol"
                [class.found]="search.value && part.includes(search.value)"
                [class.hovered]="toBeHighlighted === part"
              >
                {{ part }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-scrollbar>
  </div>
</div>
<div
  #panel2Element
  id="panel-2"
  role="tabpane2"
  class="panel"
  aria-labelledby="tab-2"
  hidden
>
  <div class="tab-content on-surface-text">
    <ng-scrollbar visibility="hover" appearance="compact" class="scrollable">
      <h1 class="headline-large primary-text">Firsts</h1>
      <p>
        O conjunto first(&lt;símbolo&gt;) de cada símbolo corresponde ao
        conjunto de possíveis símbolos terminais que serão vistos primeiro na
        derivação do símbolo &lt;símbolo&gt;
      </p>
      <table cellPadding="0" cellSpacing="0">
        <tr>
          <th></th>
          <th>Símbolo</th>
          <th>First(símbolo)</th>
        </tr>
        <tr class="line" *ngFor="let first of firsts; let i = index">
          <td class="line">{{ i }}</td>
          <td class="label-large">
            <div
              class="symbol label-large secondary-container on-secondary-container-text"
            >
              {{ first.symbol }}
            </div>
          </td>
          <td>
            &#123;
            <div
              *ngFor="let derivation of first.first; let i = index"
              class="symbol bold"
            >
              <span>"</span>{{ derivation }}<span>"</span>
              <span>{{ i < first.first.length - 1 ? "," : "" }}</span>
            </div>
            &#125;
          </td>
        </tr>
      </table>
      <md-divider></md-divider>
      <h1 class="headline-large primary-text">Follows</h1>
      <p>
        O conjunto follow(&lt;símbolo&gt;) de cada símbolo corresponde ao
        conjunto de possíveis símbolos terminais que serão vistos imediatamente
        após a derivação do símbolo &lt;símbolo&gt;. O símbolo "$" representa o
        fim da pilha de símbolos da Análise Sintática, e é usado para validar se
        uma dada entrada é válida ou não de acordo com a gramática.
      </p>
      <table cellPadding="0" cellSpacing="0">
        <tr>
          <th></th>
          <th>Símbolo</th>
          <th>First(símbolo)</th>
        </tr>
        <tr class="line" *ngFor="let follow of follows; let i = index">
          <td class="line">{{ i }}</td>
          <td class="label-large">
            <div
              class="symbol label-large secondary-container on-secondary-container-text"
            >
              {{ follow.symbol }}
            </div>
          </td>

          <td>
            &#123;
            <div
              *ngFor="let derivation of follow.follow; let i = index"
              class="symbol bold"
            >
              <span>"</span>{{ derivation }}<span>"</span>
              <span>{{ i < follow.follow.length - 1 ? "," : "" }}</span>
            </div>
            &#125;
          </td>
        </tr>
      </table>
    </ng-scrollbar>
  </div>
</div>
<div
  #panel3Element
  id="panel-3"
  role="tabpane3"
  class="panel"
  aria-labelledby="tab-3"
  hidden
>
  <div
    class="tab-content on-surface-text fullscreen surface"
    [class.fullscreen--full]="fullscreen"
  >
    <div class="tab-actions">
      <md-icon-button
        class="fullscreen-button"
        (document:keydown.escape)="
          !panel3Element.hidden ? (fullscreen = false) : null
        "
        (document:keydown.alt.enter)="
          !panel3Element.hidden ? (fullscreen = !fullscreen) : null
        "
        (click)="!panel3Element.hidden ? (fullscreen = !fullscreen) : null"
      >
        <md-icon *ngIf="!fullscreen">fullscreen</md-icon>
        <md-icon *ngIf="fullscreen">close_fullscreen</md-icon>
      </md-icon-button>
    </div>
    <ng-scrollbar visibility="hover" appearance="compact" class="scrollable">
      <table cellPadding="0" cellSpacing="0" class="bordered">
        <tr>
          <th></th>
          <th
            class="label-large vertical"
            *ngFor="let col of syntacticTableCols; let j = index"
          >
            <div class="symbol bold">
              {{ col }}
            </div>
          </th>
        </tr>
        <tr
          class="label-large"
          *ngFor="let row of syntacticTableRows; let i = index"
        >
          <td>
            <div class="symbol secondary-container on-secondary-container-text">
              {{ row }}
            </div>
          </td>
          <td *ngFor="let cell of syntacticTable[i]">
            <div
              [class.secondary-container]="
                part[0] === '<' && part[1] && part[1] !== '>' && part[1] !== '='
              "
              [class.on-secondary-container-text]="
                part[0] === '<' && part[1] && part[1] !== '>' && part[1] !== '='
              "
              [class.label-large]="
                part[0] === '<' && part[1] && part[1] !== '>' && part[1] !== '='
              "
              [class.title-medium]="
                part !== 'ERRO' &&
                part !== 'TOKEN_SYNC' &&
                (part[0] !== '<' ||
                  part === '<>' ||
                  part === '<=' ||
                  part === '<')
              "
              [class.on-surface-text]="
                part !== 'ERRO' &&
                part !== 'TOKEN_SYNC' &&
                (part[0] !== '<' ||
                  part === '<>' ||
                  part === '<=' ||
                  part === '<')
              "
              [class.bold]="
                part !== 'ERRO' &&
                part !== 'TOKEN_SYNC' &&
                (part[0] !== '<' ||
                  part === '<>' ||
                  part === '<=' ||
                  part === '<')
              "
              [class.label-medium]="part === 'ERRO' || part === 'TOKEN_SYNC'"
              [class.error-text]="part === 'ERRO' || part === 'TOKEN_SYNC'"
              class="symbol"
              *ngFor="let part of cell"
            >
              {{ part }}
            </div>
          </td>
        </tr>
      </table>
    </ng-scrollbar>
  </div>
</div>
