<div
  class="container"
  (document:keydown.control.f)="$event.preventDefault(); search.focus()"
>
  <div class="actions">
    <md-filled-text-field
      (keyup)="searchNext($event)"
      class="search"
      #search
      placeholder="Procurar símbolo"
      [supportingText]="totalFound > 0 ? focused + 1 + '/' + totalFound : ''"
    >
      <md-icon slot="leading-icon">search</md-icon>
      <md-icon-button
        (document:keydown.escape)="resetSearch()"
        (click)="resetSearch()"
        slot="trailing-icon"
        *ngIf="search.value != ''"
      >
        <md-icon>close</md-icon>
      </md-icon-button>
    </md-filled-text-field>
  </div>
  <ng-scrollbar
    #scrollbarComponent
    visibility="hover"
    appearance="compact"
    class="scrollable"
  >
    <div class="content" #content>
      <div
        class="production"
        *ngFor="let production of grammar.productions; let i = index"
      >
        <div
          [class.found]="
            search.value && production.leftSide.includes(search.value)
          "
          [class.hovered]="toBeHighlighted === production.leftSide"
          class="symbol label-large secondary-container on-secondary-container-text"
          (mouseenter)="mouseEnter(production.leftSide)"
          (mouseleave)="mouseLeave()"
          (click)="selectSymbol(production.leftSide)"
        >
          {{ production.leftSide }}
        </div>
        <md-icon class="arrow secondary-text">arrow_forward</md-icon>
        <div class="derivations">
          <div
            class="derivation"
            *ngFor="let derivation of production.rightSide; let i = index"
          >
            <div *ngIf="i > 0" class="vertical-divider"></div>
            <div
              *ngFor="let part of derivation"
              [class.secondary-container]="
                part[0] === '<' && part[1] && part[1] !== '>' && part[1] !== '='
              "
              [class.on-secondary-container-text]="
                part[0] === '<' && part[1] && part[1] !== '>' && part[1] !== '='
              "
              [class.label-large]="
                part[0] === '<' && part[1] && part[1] !== '>' && part[1] !== '='
              "
              [class.title-medium]="
                part[0] !== '<' ||
                part === '<>' ||
                part === '<=' ||
                part === '<'
              "
              [class.on-surface-text]="
                part[0] !== '<' ||
                part === '<>' ||
                part === '<=' ||
                part === '<'
              "
              [class.bold]="
                part[0] !== '<' ||
                part === '<>' ||
                part === '<=' ||
                part === '<'
              "
              [class.epsilon]="part[0] === 'ε'"
              (mouseenter)="mouseEnter(part)"
              (mouseleave)="mouseLeave()"
              (click)="selectSymbol(part)"
              class="symbol"
              [class.found]="search.value && part.includes(search.value)"
              [class.hovered]="toBeHighlighted === part"
            >
              {{ part }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-scrollbar>
</div>
