:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  height: 100%;
  padding: 16px 0;
}

.panel {
  height: 100%;
  overflow: hidden;
}

.tab-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  padding: 0 16px;
}

.actions {
  width: 100%;
  padding: 0 8px 8px 8px;
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.search {
  width: 100%;
  /** --md-sys-shape-corner-full */
  --md-filled-text-field-container-shape: 56px;
  --md-filled-text-field-active-indicator-color: transparent;
  --md-filled-text-field-focus-active-indicator-color: transparent;
  --md-filled-text-field-hover-active-indicator-color: transparent;
  --md-filled-text-field-error-active-indicator-color: transparent;
  --md-filled-text-field-disabled-active-indicator-color: transparent;
  --md-filled-text-field-active-indicator-height: 0;
}

.production {
  padding: 16px 0;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
  &:last-of-type {
    border-bottom-color: transparent;
  }

  .arrow {
    margin: 0px 4px;
  }

  .derivations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;

    .derivation {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 4px;

      .vertical-divider {
        margin: 0px 4px;
        height: 100%;
        width: 2px;
        border-radius: 2px;
        background: var(--md-sys-color-outline);
      }
    }
  }
}

.bold {
  font-weight: bold;

  span {
    font-weight: normal;
  }
}

.found:not(.bold) {
  background: var(--md-sys-color-secondary);
  color: var(--md-sys-color-on-secondary);
}

.found.bold {
  color: var(--md-sys-color-primary);
  text-decoration: underline;
}

.hovered:not(.bold) {
  background: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
}

.hovered.bold {
  color: var(--md-sys-color-primary);
  text-decoration: underline;
}

.symbol {
  display: inline-block;
  border-radius: 20px;
  padding: 4px 8px;
  transition: all 200ms var(--easing-standard);
  cursor: default;

  &.focused {
    background: var(--md-sys-color-tertiary);
    color: var(--md-sys-color-on-tertiary);
  }
}
#panel-2 {
  p {
    padding: 0 16px 16px 16px;
  }
  h1 {
    padding-left: 16px;
  }
}

table {
  width: 100%;
  padding: 16px;
  margin-bottom: 32px;

  tr th {
    text-align: left;
    padding: 0 8px 16px 8px;
  }

  tr:nth-child(even) {
    background: var(--md-sys-color-surface-container-low);
  }

  tr td {
    padding: 8px;
    border: none;

    .symbol {
      margin-bottom: 4px;
      margin-right: 4px;
    }
  }

  &.bordered {
    tr td,
    tr th {
      border: 1px solid var(--md-sys-color-outline-variant);
      padding: 16px;
    }
  }

  .line {
    td:first-of-type {
      opacity: 0.5;
    }
  }
}

.center {
  text-align: center;
}

.tab-actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  padding: 8px;

  div:first-of-type {
    display: flex;
    gap: 8px;
  }

  md-icon-button {
    --md-icon-button-icon-color: var(--md-sys-color-secondary);
  }
}

.fullscreen {
  &.fullscreen--full {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
  }
}

.vertical {
}

.hidden {
  display: none;
}
