/* You can add global styles to this file, and also import other style files */
@import url(./assets/theme/theme.scss);

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Noto Sans';
}

* {
  box-sizing: border-box;
}