/* You can add global styles to this file, and also import other style files */
@import url(./assets/theme/theme.scss);
@import url(./assets/theme/transitions.scss);

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Noto Sans";
}

* {
  box-sizing: border-box;
}

/** classe responsável por estilizar alguns textos de log */
.monospace {
  font-family: "Droid Sans Mono", "monospace", monospace;
}

.tiny-padding {
  padding: 1px 4px;
  border-radius: 4px;
}
