<div class="container">
  <section class="master-section">
    <master-card
      title="Código-fonte"
      subhead="Editando teste"
      [items]="itemsTest"
      [action]="'Editar código'"
      icon="code"
    ></master-card>
    <master-card
      title="Análise léxica"
      [items]="itemsTest"
      icon="label"
    ></master-card>
    <master-card
      title="Símbolos"
      [items]="itemsTest"
      icon="table_rows"
    ></master-card>
    <master-card
      title="Análise sintática"
      [items]="itemsTest"
      icon="account_tree"
    ></master-card>
    <master-card
      title="Análise semântica"
      [items]="itemsTest"
      icon="square_foot"
    ></master-card>
    <master-card
      title="Geração de código"
      [items]="itemsTest"
      icon="send"
    ></master-card>
    <master-card
      title="Otimização de código"
      [items]="itemsTest"
      icon="trail_length_medium"
    ></master-card>
    <master-card
      title="Resultado final"
      [items]="itemsTest"
      icon="download"
    ></master-card>
  </section>
  <section class="details-section surface"></section>
</div>
