<div class="container">
  <ng-scrollbar
    visibility="hover"
    appearance="compact"
    position="invertY"
    class="master-section-scroll"
  >
    <section class="master-section">
      <master-card
        title="Código-fonte"
        subhead="Editando teste"
        [items]="codigoFonteCardItems"
        action="Editar código"
        icon="code"
        #codigoFonteCard
        (select)="clicked($event, codigoFonteCard, 'code-editor')"
        (actionClick)="clicked($event, codigoFonteCard, 'code-editor')"
      ></master-card>
      <div class="same-line">
        <master-card
          title="Análise léxica"
          [items]="analiseLexicaCardCompItems"
          icon="label"
          #analiseLexicaCard
          (select)="clicked($event, analiseLexicaCard, 'lexical-analysis')"
          (actionClick)="clicked($event, analiseLexicaCard, 'lexical-analysis')"
        ></master-card>
        <div class="divider surface">
          <div class="part"></div>
          <div class="part"></div>
        </div>
        <master-card
          title="Símbolos"
          [items]="simbolosCardCompItems"
          icon="table_rows"
          #simbolosCard
          (select)="clicked($event, simbolosCard, 'symbols')"
          (actionClick)="clicked($event, simbolosCard, 'symbols')"
        ></master-card>
      </div>
      <master-card
        title="Análise sintática"
        [items]="analiseSintaticaCardCompItems"
        action="Visualizar"
        icon="account_tree"
        #analiseSintaticaCard
        (select)="clicked($event, analiseSintaticaCard, 'syntactic-analysis')"
        (actionClick)="
          clicked($event, analiseSintaticaCard, 'syntactic-analysis')
        "
      ></master-card>
      <master-card
        title="Análise semântica"
        [items]="analiseSemanticaCardCompItems"
        action="Ver mais"
        icon="square_foot"
        #analiseSemanticaCard
        (select)="clicked($event, analiseSemanticaCard, 'semantic-analysis')"
        (actionClick)="
          clicked($event, analiseSemanticaCard, 'semantic-analysis')
        "
      ></master-card>
      <master-card
        title="Geração de código"
        [items]="geracaoDeCodigoCardCompItems"
        action="Ver código gerado"
        icon="send"
        #geracaoDeCodigoCard
        (select)="clicked($event, geracaoDeCodigoCard, 'code-generation')"
        (actionClick)="clicked($event, geracaoDeCodigoCard, 'code-generation')"
      ></master-card>
      <master-card
        title="Otimização de código"
        [items]="otimizacaoDeCodigoCardCompItems"
        action="Ver código otimizado"
        icon="trail_length_medium"
        #otimizacaoDeCodigoCard
        (select)="clicked($event, otimizacaoDeCodigoCard, 'optimization')"
        (actionClick)="clicked($event, otimizacaoDeCodigoCard, 'optimization')"
      ></master-card>
      <master-card
        title="Resultado final"
        [items]="resultadoFinalCardCompItems"
        action="Salvar"
        icon="download"
        #resultadoFinalCard
        (select)="clicked($event, resultadoFinalCard, 'final-results')"
        (actionClick)="clicked($event, resultadoFinalCard, 'final-results')"
      ></master-card>
    </section>
  </ng-scrollbar>
  <section
    [@routeAnimations]="getRouteAnimationData()"
    class="details-section surface"
  >
    <router-outlet />
  </section>
</div>
