.container {
  display: block;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.0);
    z-index: 1;
    opacity: 1.0;
    transition: all 200ms var(--easing-standard-decelerate);
    will-change: tranform;
  }
  
  .loader {
    opacity: 0.0;
    transform: translate(-50%, -50%) scale(0.0);
  }
  
  .background {
    transition: all 200ms var(--easing-standard-accelerate);
    z-index: 0;
    position: absolute;
    filter: saturate(1.0);
    width: inherit;
    height: inherit;

    &.code {
      background-image: url('../../../assets/images/background-code.png');
    }

    &.label {
      background-image: url('../../../assets/images/background-label.png');
    }

    &.account_tree {
      background-image: url('../../../assets/images/background-account_tree.png');
    }

    &.download {
      background-image: url('../../../assets/images/background-download.png');
    }

    &.send {
      background-image: url('../../../assets/images/background-send.png');
    }

    &.square_foot {
      background-image: url('../../../assets/images/background-square_foot.png');
    }

    &.table_rows {
      background-image: url('../../../assets/images/background-table_rows.png');
    }
    
    &.trail_length_medium {
      background-image: url('../../../assets/images/background-trail_length_medium.png');
    }
  }

  &.loading {
    .loader {
      opacity: 1.0;
      transform: translate(-50%, -50%) scale(1.0);
    }
    
    .icon {
      opacity: 0.0;
      transform: translate(-50%, -50%) scale(0.0);
    }

    .background {
      filter: saturate(0.0);
    }
  }
}