<div class="container">
  <div class="card">
    <img class="card-image" src="./assets/images/image.jpg" alt="" />
    <div class="card-title on-surface-text headline-medium">
      Compilador Didático :)
    </div>
    <div class="card-text body-medium">
      Desenvolvido pelo Rafael Araújo Chinaglia em 2024 <br />
      como Trabalho de Conclusão de Curso (TCC).
    </div>
    <div class="actions">
      <a
        target="_blank"
        href="https://github.com/chinaglia-rafa/compilador-didatico/"
      >
        <md-filled-button>Acessar GitHub do projeto</md-filled-button>
      </a>
    </div>
  </div>
</div>
